@import './base.css';



body {
    width: 90vw; 
    height: 90vh; 
    background-image: url('/medieval-blacksmiths-forge-scene-pixel-art-style-fantasy-game-design-creative-projects_91645-10000.avif');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 

   
}

 .bdev {
        width: 75vw;
        background-color: aliceblue;
        margin: 0;
}

